.trusted__company {
  padding: 4rem 0;
}

.trusted__company_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 905px;
  margin: auto;
}

.info__title {
  color: var(--font-color-1);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.394rem;
  text-transform: capitalize;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .trusted__company_info {
    flex-direction: row;
    gap: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .trusted__company_info {
    gap: 4.2rem;
  }
}
