.search__list__area {
    z-index: 105;
    width: 96.5%;
    font-size: 16px;
    font-weight: 500;
    max-height: 200px;
    overflow-y: scroll;
}

.icon__position {
    position: absolute;
    margin-top: 12px;
    margin-left: 12px;
}