.header {
  padding: 1rem 1.5rem;
  background: var(--primary-color);
  box-shadow: var(--header-drop-shadow);
  position: relative;
  z-index: 999;
}

.header__logo_link {
  color: var(--font-color-1);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}

.header__menu_li a {
  color: var(--font-color-1);
  font-size: 1.6rem;
  line-height: 2rem;
  text-transform: capitalize;
}

.header__menu_li ul {
  min-width: 280px;
  padding: 10px;
}


.dropdown__title {
  padding-left: 14px;
  font-size: 16px;
  font-weight: 700;
}

.user__cta_button {
  display: none;
}

.user {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  align-items: center;
}

.user__avatar_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__menu {
  display: none;
  padding: 0;
  margin: 0;
}

.mobile__menu i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--font-color-1);
}

@media screen and (min-width: 992px) {
  .header__logo_link {
    font-size: 2.432rem;
    line-height: 3.2rem;
  }

  .header__menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 0.5rem;
  }

  .header__menu .header__menu_li:first-child {
    margin-left: 4rem;
  }

  /* .header__menu .header__menu_li {
    padding: 0 5rem;
  } */

  .header__menu_li a {
    color: var(--font-color-1);
    font-size: 1.8rem;
    line-height: 2.394rem;
  }

  .header__menu_li ul li a {
    color: var(--font-color-1);
    font-size: 1.5rem;
    line-height: 2.394rem;
  }

  .user__cta_button {
    display: block;
  }

  .mobile__menu {
    display: none !important;
  }
}

@media screen and (min-width: 1140px) {
  .header {
    padding: 2rem 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    padding: 3.5rem 1rem;
  }

  .header__logo {
    padding-left: 1.7rem;
  }

  .user {
    gap: 5rem;
  }
}