.card__row_wrapper {
  position: relative;
  padding: 25px 30px;
  z-index: 0;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  transition: all 0.3s ease;
  margin: 17px 0px;
}

.card__row_wrapper:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.card__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}

.card__body {
  padding: 0 1rem;
}

.card__title {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 31.92px;
  color: var(--font-color-1);
  text-align: center;
  margin: 20px 0;
}

.card__schedule {
  margin: 0;
  font-size: 1.2rem;
  line-height: 21.28px;
  color: var(--font-color-1-50);
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  margin-top: 10px;
}

.card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card__subtitle {
  margin: 0;
  color: var(--ligh-blue);
  font-size: 1.5rem;
  line-height: 23.94px;
  font-weight: 600;
  text-transform: capitalize;
}

.card__location {
  color: var(--ligh-blue);
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  background: #edf2f7;
  padding: 3px 5px;
  border-radius: 6px;
}

.card__tag {
  color: var(--ligh-blue);
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  background: #edf2f7;
  padding: 3px 5px;
  border-radius: 6px;

}

.card__tag a:hover {
  text-decoration: underline !important;
}

.card__condition {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 21.28px;
  color: var(--font-color-2);
  margin: 0;
}

.card__price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 23.94px;
  color: var(--font-color-1);
  margin: 0;
}

.card__details button {
  border: 1px solid var(--font-color-1);
  background: var(--font-color-1);
  color: var(--primary-color);
  border-radius: 8px;
  padding: 0.3rem 1.5rem;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.card__row_wrapper:hover .card__details button {
  background: var(--ligh-blue);
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .card__img {
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
  }

  .card__body {
    padding: 0 1rem;
  }

  .card__title {
    text-align: left;
    margin: 0;
  }

  .card__details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .card__schedule {
    text-align: left;
  }
}